* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,ol,menu {
	list-style: none;
}

body {
	background-color: black;
}


.head-container {
	display: flex;
	justify-content: flex-end;

	width: 2000px;
	margin: 5px;
}

.head-container span {
	color: white;
	font-family: sans-serif;
	font-size: 14px;
	background-color: rgba(255,255,255,0.4);
	padding: 3px;
	border-radius: 2px;
}

.head-container i {
	color: white;

	background-color: rgba(255,255,255,0.4);
	padding: 3px;
	border-radius: 2px;
	font-size: 14px;

	text-align: center;
}

.foot-container {
	width: 2000px;
	
	background-color: #222222;
	padding: 30px;

	color: white;
	font-size: 20px;
	
	display: flex;
	justify-content: space-between;
}

.lista {
	display: flex;
	gap: 30px;

}



/*************************************/


.debug .container {
	border: 3px dotted blue;
}

.debug .row {
    border: 3px dotted red;
	display: flex;

	justify-content: center;

	gap: 6px;
	margin: 50px;
	width: 2000px;
	margin: 80px 0;

	flex-wrap: wrap;

}


.debug .card {
    color: white;
		
	min-width: 254px;
	min-height: 150px;

	position: relative;
}

.card span {
	padding: 6px;
	
	position: absolute;
	bottom: 0;
	left: 0;

	background-color: rgba(0,0,0,0.4);
	color: white;
	font-family: sans-serif;
	font-size: 14px;
}